UseTab: true
ColumnLimit: 80
BreakBeforeBraces: Allman
IndentWidth: 4
AlignOperands: true
AlignAfterOpenBracket: Align
IndentCaseLabels: true
NamespaceIndentation: All
AccessModifierOffset: -4
BinPackParameters: true
BinPackArguments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BreakConstructorInitializers: AfterColon
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false
PackConstructorInitializers: Never
MaxEmptyLinesToKeep: 1
Language: Cpp
